body {
    background-color: #FFCB05;
}

h1 {
    color: #00274C;
    text-align: center;
}

#menu {
    list-style-type: none;
    font-size: 24px;
}

div#pictureDiv {
    width: 400px;
    height: 500px;
    margin: auto;
    background-color: white;
}

.picture {
    position: relative;
    top: 50px;
    left: 70px;
    width: 275px;
}