body {
    background-color: #FFCB05;
}

h1 {
    color: #00274C;
    text-align: center;
}

h2 {
    color: #00274C;
    text-align: center;
}

#menu {
    list-style-type: none;
    font-size: 24px;
}

#menu a {
    text-decoration: none;
}

#menu li :visited {
    color: blue;
}

#menu li :hover {
    color: red;
}

div#profilePictureDiv {
    width: 400px;
    height: 500px;
    margin: auto;
    background-color: white;
}

#profilePicture {
    position: relative;
    top: 50px;
    left: 70px;
    width: 275px;
}

div#professionalExperience {
    display: none;
    width: 800px;
    margin: auto;
    background-color: white;
}

#visionAdvanceLogo { 
    position: relative;
    left: 200px;
    width: 400px;
}

